.pg-users {
  input,
  select {
    padding-left: 45px;
  }
  .action {
    @include md-max {
      justify-content: center;
      align-items: center;
    }
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}
