.wfx-app {
  .wfx-header {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 9998;
    &__content {
      height: 100%;
      padding: 0.3em 1em;
        border-bottom: 1px solid #ededed;
      background: #fff;
      &-body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .wfx-image {
          width: 50px;
          height: 50px;
          border: 1px solid #ccc;
          border-radius: 50%;
          img {
            object-fit: contain !important;
          }
        }

        .title {
          color: $primary;
          h1 {
            font-size: 1.5em;
            font-weight: 700;
            text-align: center;
          }
        }
      }
    }
  }
}
