$table-bg-color: #fff;
$table-secondary-border-color: #ddd;

.wfx-table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  height: calc(100% - 50px);
  thead {
    position: sticky;
    top: -2px;
    z-index: 1;
    tr {
      th:not(:last-child) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 1em;
          top: 20%;
          width: 1px;
          height: 50%;
          background: $border-color;
        }
      }
    }
  }
  tbody {
    position: relative;
    z-index: 0;
    tr {
      &:hover {
        background: $border-color;
        cursor: pointer;
      }
    }
  }
  tr {
    background-color: $table-bg-color;
    border: 1px solid $table-secondary-border-color;
    padding: 0.35em;
  }

  th,
  td {
    padding: 0.625em;
    text-align: start;
  }

  th {
    font-weight: 700;
  }

  @media screen and (max-width: 600px) {
    border: 0;

    caption {
      font-size: 1.3em;
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid $table-secondary-border-color;
      display: block;
      margin-bottom: 0.625em;
    }

    td {
      border-bottom: 1px solid $table-secondary-border-color;
      display: block;
      font-size: 0.8em;
      text-align: right;

      &::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}
